@media (min-width: 1440px) {
  .UP_Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UP_Content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .UP_Content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
  }
  .UPD_Part1_Flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
  }
  .UP_Title_PseudoName {
    color: var(--color-03);
    text-align: center;
    font-family: Bombing;
    font-size: 90px;
    width: 644px;
    height: 89px;
    margin-bottom: 2rem;
  }
  .UPD_Email_Password_Register {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .UPD_Level_Score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .UP_Title_Level {
    border: 1px solid #000;
    background: #fff;
    width: 377px;
    height: 51px;
    color: var(--color-01);
    font-family: var(--font-07);
    font-size: 26px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .UP_Title_Score {
    border: 1px solid #000;
    background: #fff;
    width: 198px;
    height: 51px;
    color: var(--color-01);
    font-family: var(--font-07);
    font-size: 26px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .UP_Email_Password {
    border: 1px solid #000;
    background: #fff;
    width: 638px;
    height: 40px;
    color: var(--color-01);
    font-family: var(--font-07);
    font-size: 20px;
    line-height: normal;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 1rem;
  }
  .UP_Change_Password {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .UP_Change_Password_Inside {
    color: var(--color-01);
    font-family: var(--font-07);
    text-align: center;
    font-size: 12px;
    display: flex;
    width: 158px;
    height: 34px;
    border: 1px solid #000;
    margin-right: 2rem;
  }
  .UP_Register_Since {
    color: var(--color-01);
    background: #fff;
    color: #000;
    text-align: center;
    font-family: var(--font-07);
    font-size: 16px;
    width: 655px;
    height: 25px;
  }
  .UPD_Image_Monkey_Center {
    display: flex;
    justify-content: space-evenly;
  }
  .UPD_Image_Monkey {
    display: block;
    width: 50%;
    margin-top: 10px;
  }
  .UPD_Part2_Flex {
    width: 35%;
  }
  .UP_Historical_Classement {
    display: flex;
    align-items: center;
    background-color: var(--color-00);
  }
  .UP_Title_Historical {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-07);
    font-size: 1.563rem;
    width: 50%;
    padding: 10px 0;
    border: solid 1px 1px black;
    cursor: pointer;
  }
  .UP_Title_Classement {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-07);
    font-size: 1.563rem;
    width: 50%;
    padding: 10px 0;
    border: solid 1px 1px black;
    cursor: pointer;
  }
  .UPC_Work_Submited_Classement {
    width: 99.7%;
    height: 31rem;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #000;
  }

  .searchBar_UPC_container {
    width: 80%;
  }
  .searchBar_ULAF {
    font-size: 1rem;
  }
  .UPC_Users_List_Td_container {
    border: solid 1px black;
    width: 90%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .UPC_Users_List_Table_container {
    width: 90%;
  }
  .UPC_Users_List_Table {
    width: 100%;
    border: solid 1px black;
  }
  .UPH_Work_Submited {
    padding: 1.5rem 0;
    height: 33rem;
    width: 99.7%;
    gap: 2rem;
  }
  .UPH_Works_Count {
    width: 90%;
    text-align: center;
    border: 1px solid #000;
    background-color: var(--color-00);
    color: #000;
    font-family: var(--font-07);
    font-size: 1.25rem;
    padding: 5px 0;
  }
  .UPH_Workcard_Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 75%;
    width: 95%;
    cursor: pointer;
    gap: 4%;
  }
  .workCard2_container {
    width: 30%;
  }
  .UPC_Users_List_Td {
    border: solid 1px black;
    padding: 10px 0;
    text-align: center;
    font-family: var(--font-00);
    font-size: 0.75rem;
  }
}
