.UP_Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.UP_Content {
  width: 90%;
}

.UP_Title_PseudoName {
  color: var(--color-03);
  text-align: center;
  font-family: Bombing;
  font-size: 69px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.UPM_Level_Score_Password {
  display: grid;
  align-content: space-evenly;
  gap: 1.5rem;
}

.UPD_Level_Score {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.UP_Title_Level {
  border: 1px solid #000;
  background: #fff;
  height: 51px;
  color: var(--color-01);
  font-family: var(--font-07);
  font-size: 26px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.UP_Title_Score {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  background: #fff;
  height: 51px;
  color: var(--color-01);
  font-family: var(--font-07);
  font-size: 26px;
  padding-left: 4px;
}
.UP_Email_Password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  background: #fff;
  color: var(--color-01);
  font-family: var(--font-07);
  font-size: 20px;
  line-height: normal;
  gap: 0.3rem;
  padding: 1rem 0 1rem 4px;
}
.UP_Change_Password {
  padding-top: 7px;
}
.UP_Change_Password_Inside {
  color: var(--color-01);
  font-family: var(--font-07);
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 34px;
  border: 1px solid #000;
}
.UP_Register_Since {
  border: 1px solid #000;
  background: #fff;
  color: var(--color-01);
  text-align: center;
  font-family: var(--font-07);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25px;
  margin-bottom: 15px;
}
.UPD_Image_Monkey {
  display: none;
}
.UP_Historical_Classement {
  display: flex;
}
.UP_Title_Historical {
  border-radius: 16px 0px 0px 0px;
  border-right: 1px solid #141414;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  background: #fff;
  width: 50%;
  height: 39px;
  text-align: center;
  font-family: var(--font-07);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-04);
}
.UP_Title_Historical2 {
  border-radius: 16px 0px 0px 0px;
  border-right: 1px solid #141414;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  background: #fff;
  width: 50%;
  height: 39px;
  text-align: center;
  font-family: var(--font-07);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UP_Title_Classement {
  border-radius: 0px 10px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
  width: 50%;
  height: 39px;
  text-align: center;
  font-family: var(--font-07);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UP_Title_Classement2 {
  border-radius: 0px 10px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
  width: 50%;
  height: 39px;
  text-align: center;
  font-family: var(--font-07);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-04);
}

.UPH_Work_Submited {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #000;
  width: 99.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  gap: 1rem;
  padding: 1rem 0;
}
.UPH_Works_Count {
  font-family: var(--font-07);
  font-size: 1rem;
  text-align: center;
  border: solid 1px black;
  width: 95%;
  padding: 5px 0;
}
.UPC_Work_Submited_Classement {
  border: 1px solid #000;
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 15px;
  gap: 0.5rem;
}
.initialColor {
  color: var(--color-01);
}
.newColor {
  color: var(--color-04);
}
.searchBar_UPC_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89%;
}
.searchBar_UPC {
  width: 90%;
  padding: 8px 10px;
  border-radius: 60px;
}
.Smiley_Search_UPC {
  width: 40px;
}

.Users_List_UPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border: solid 1px black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.UPC_Users_List_Td {
  border: solid 1px black;
  padding: 4px;
  text-align: center;
  font-family: var(--font-00);
  font-size: 0.75rem;
}
.UPC_Users_List_Td_container {
  border: solid 1px black;
  width: 90%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UPC_UsersList_Tr:nth-child(even) {
  background-color: var(--color-02);
}
.UPC_UsersList_Tr:nth-child(odd) {
  background-color: var(--color-00);
}
.UPH_Workcard_Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}
