.SubmitW_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.title_image_button {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title_Image {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.titleSubmitWork {
  color: #000;
  text-align: center;
  font-family: Permanent Marker;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.titleSubmitWorkThank {
  color: #000;
  text-align: center;
  font-family: Permanent Marker;
  font-size: 30px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
}
.importImagePhoto {
  margin-left: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.titleImportImage {
  color: #000;
  font-family: Black Ops One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blocImportImage {
  display: flex;
  justify-content: center;
}
.importImageInside {
  display: flex;
  justify-content: center;
  background: var(--color-00);
  height: 230px;
  width: 230px;
  border: 1px solid #000;
}
.Button-Validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 37.701px;
  text-align: center;
  font-family: var(--font-03);
  background: var(--color-00);
  color: var(--color-01);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
}
.Button-Validation:hover {
  background: var(--color-01);
  color: var(--color-00);
}

.Button-SubmitWork {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.text_validation {
  color: var(--color-01);
  text-align: center;
  font-family: var(--font-00);
  font-size: 22px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
}
.inputLocation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--color-01);
  text-align: center;
  font-family: var(--font-00);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 0.5rem;
}
.inputArtiste {
  display: flex;
  align-items: center;
  color: var(--color-01);
  text-align: center;
  font-family: Courier Prime;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.caseLocation {
  width: 252px;
  height: 33px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
}
.caseArtiste {
  width: 252px;
  height: 33px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
}
.Rat_Picture_Submit_right {
  display: none;
  width: 100%;
}
.Rat_Picture_Submit_left {
  display: none;
  width: 100%;
}

@media (min-width: 1440px) {
  .SubmitW_container {
    justify-content: space-between;
    margin: 0;
  }
  .title_Image {
    width: 40%;
  }
  .title_image_button {
    width: 40%;
  }
  .titleSubmitWork {
    color: var(--color-01);
    font-family: var(--font-05);
    font-style: normal;
    line-height: normal;
    font-size: 3rem;
  }
  .TSW-correctgap {
    margin-bottom: -1rem;
  }
  .importImageInside {
    display: flex;
    justify-content: center;
    background: #d9d9d9;
    height: 350px;
    width: 350px;
    border: 1px solid #000;
  }
  .Picture_DesKtop_Submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Rat_Picture_Submit_right {
    display: block;
    width: 80%;
  }
  .Rat_Picture_Submit_left {
    display: block;
    width: 80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .titleSubmitWorkThank {
    color: var(--color-01);
    text-align: center;
    font-family: var(--font-05);
    font-size: 50px;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
  }
}
