.Background_Contact_Wall {
  position: absolute;
  width: 100%;
  height: calc(100vh - 86px);
  top: 0;
  left: 0;
  background: url("../../assets/images/img/wall05.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 40%;
  opacity: 0.35;
  z-index: -2;
}

.Background_Ask {
  background-size: 55vw 83vh;
  background-repeat: no-repeat;
  background-position-x: left;
}

.MailUs_Form {
  position: absolute;
  right: 0;
  height: calc(100vh - 135px);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MailUs_Form > h2 {
  font-family: var(--font-05);
  font-size: 2.8em;
}

.MailUs_Form > h3 {
  font: normal min(2rem, 5vh) var(--font-00);
}

.MailUs_Form > input,
.MailUs_Form > textarea {
  width: 40vw;
  padding: 0.7em 1.2em;
  border: 2px solid black;
  border-radius: 10px;
  background: #d9d9d9;
  opacity: 75%;
}

.MailUs_Form > input[type="submit"] {
  border-color: transparent;
  width: 8em;
  font-family: var(--font-03);
  font-size: 1.4em;
  padding: 0.2em;
}

.MailUs_Form > textarea {
  flex-grow: 1;
}

.MailUs_Form > h2,
.MailUs_Form > input,
.MailUs_Form > textarea {
  margin-bottom: 1.5rem;
  margin-top: 0.6em;
}

@media (max-width: 1339px) {
  .Background_Contact_Wall {
    display: none;
  }
  .MailUs_Form > h2 {
    font-family: var(--font-03);
    font-size: 1.8em;
  }
  .MailUs_Form {
    position: unset;
    right: unset;
    height: calc(100vh - 135px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .MailUs_Form > input,
  .MailUs_Form > textarea {
    width: max(16em, 80vw);
  }
  .MailUs_Form > h3 {
    font: normal 1.4em var(--font-00);
  }
  .Background_Ask {
    background-size: 100vw 83vh;
    background-repeat: unset;
    background-position-x: unset;
  }
}
