.anonymousFlower_container {
  display: none;
}

@media screen and (min-width: 1439px) {
  .anonymousFlower_container {
    display: initial;
    width: 28%;
  }
  .anonymousFlower_right {
    transform: scaleX(-1);
  }

  .anonymousFlower {
    width: 100%;
  }
}
