.workCardBloc_content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 1440px) {
  .WorkBlockModal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .workCardBloc_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-image: url("../../assets/images/img/wall11B.jpg");
  }
  .workCardBloc_content {
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
}
